.card-container{

     text-align: center; 
     margin-bottom: 20px;
     
  }
  .card-container2 {
     margin-top: 20px;
    display:inline-table;
    border: 1px solid black;
    width: 23%;
    justify-Content: space-between;
    flex-wrap:nowrap;
    flex-direction:row-reverse;
    align-items:center ;
 
  }

  .spacing-top {
   margin-top: 40px;  
 }